{% extends 'base.html' %}
{% block content %}

{% load static %}

{% block js %}
{{ block.super }}
<script src="{% static '/js/el-pagination.js' %}"></script>
<script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
</script>
{% endblock %}

<div class="row justify-content-center">
  <div class="col-md-10">
    <h1>All comments <span class="badge badge-secondary mb-2" id="comments-count">{{comments.count}}</span></h1>
    {% if comments.count > 0 %}
    <div id="comment-list">
      {% include 'commentmanager/comment_list_page.html' %}
    </div>
    {% else %}
    <div class="text-muted">Nothing here</div>
    {% endif %}

  </div>
</div>


{% endblock %}