{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Comment List:</h1>

<!--Pagination -->
{% if is_paginated %}
  <nav aria-label="..." class="row justify-content-center mt-3">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">{{page_obj.previous_page_number}}</a></li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link active" href="#">{{page_obj.number}}<span class="sr-only">(current)</span></a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="#">{{page_obj.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% for comment in comments %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">К посту - <a href="{{comment.post.get_absolute_url}}">{{comment.post.title}}</a></h5>
        <p class="card-text"><b>Был оставлен комментарий:</b></p>
        <p class="card-text">{{comment.body}}</p>
        <p class="card-text">
          <small class="text-muted">{{comment.created_at}}</small>
          <small class="text-muted"><b>{{comment.owner}}</b></small>
          <form action="{% url 'commentmanager:comment_delete' comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Delete</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--Pagination -->
{% if is_paginated %}
  <nav aria-label="..." class="row justify-content-center mt-3">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">{{page_obj.previous_page_number}}</a></li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link active" href="#">{{page_obj.number}}<span class="sr-only">(current)</span></a>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="#">{{page_obj.next_page_number}}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}