body{
    background-color: #edeef0;
    font-family: 'Open Sans', sans-serif;

}
h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700
}
a{
    color:#171717;
    transition: 0.1s;
}
a:hover{
    color:#0090ff;
    text-decoration: none;
    transition: 0.1s;
}
.user-stat:first-child{
    border-left: 0.01rem solid #c9c9c9
}
.user-stat{
    background: #fff;
    border-right: 0.01rem solid #c9c9c9
}
.user-stat .value{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.profile-avatar{
    position: relative;
    background-color: #cfcfcf;

    border-radius: 100%;
    width: 10rem; height: 10rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.media.center{
    padding: 1rem;
    border-bottom: 0.01rem solid #c9c9c9
}
.comment-avatar{
    background-color: green;
    border-radius: 100%;
    width: 5rem; height: 5rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.wh-color{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
/*UI buttons*/
.edit-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2rem;
    background-color: #ededed;
}
.edit-btn:hover{
    cursor: pointer;
    width: 2.3rem;
}

.back-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    color: #ededed;
    transition: 0.2s;
}
.back-btn:hover{
   color: #000;
}
.post-update_title{
    position: relative;
}
.post-detail_title{
    position: relative;
}
.asteriskField{
    color: red
}
@media(max-width: 640px){
    .card-body img{
    max-width: 100%;
    }

